<!-- Toolbar -->
<nav class="navbar bg-dark">
  <img
    width="48"
    height="48"
    alt="Pranshu's Bitmoji"
    src="./assets/images/ComputerMemoji.PNG"
  />
  <div class="spacer"></div>
  <div class="float-right">
    <a class="header-icons" aria-label="Pranshu on Github" target="_blank" rel="noopener" href="https://github.com/pranshuindia"
       title="Twitter">
      <img
        width="24"
        height="24"
        alt="Twitter"
        src="./assets/images/github.png"
      />
    </a>
    <a class="header-icons" aria-label="Pranshu on Facebook" target="_blank" rel="noopener" href="https://facebook.com/pranshuindia"
       title="Facebook">
      <img
        width="24"
        height="24"
        alt="Facebook"
        src="./assets/images/facebook.png"/>
    </a>
    <a class="header-icons" aria-label="Pranshu on Twitter" target="_blank" rel="noopener" href="https://twitter.com/iampranshuk"
       title="Twitter">
      <img
        width="24"
        height="24"
        alt="Twitter"
        src="./assets/images/twitter.png"
        />
    </a>
    <a class="header-icons" aria-label="Pranshu on Linkedin" target="_blank" rel="noopener" href="https://www.linkedin.com/in/kumarpranshu"
       title="Twitter">
      <img
        width="24"
        height="24"
        alt="Twitter"
        src="./assets/images/linkedin.png"
      />
    </a>
  </div>
</nav>
