.jumbotron {
  padding : 0;
  margin : 0;
}

.jumbotron.d-flex.align-items-center{
  min-height: 89vh;
}

#introVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

#videoText {
  font-size : xx-large;
}
#typewriterDisplay {
  font-family: League-Spartan, cursive !important;
  font-size: xx-large;
}
#namasteBitmoji {
  height: 50%;
}
